{% extends "base.html" %}
 
{% block content %}
    <h1>Кабинет пользователя {{ username }}</h1>
    <p>email: {{ email }}</p>
    <p>Дата рождения: {{ birthday.strftime("%Y-%m-%d") }}</p>
    <p>Пол: {% if sex=="f" %} Женский {% else %} Мужской {% endif %} </p>

    <button class="btn btn-danger" onClick='location.href="/logout"'>Выйти</button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#exampleModal3">
        Изменить профиль
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Изменение профиля</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="change_user" method="post" novalidate>
                    <div class="modal-body">
                        {{ form4.csrf_token() }}
                        {{ form4.id(value=current_user.id) }}
                        <p>
                            {{ form4.password.label }}<br>
                            {{ form4.password() }}
                        </p>
                        <p>
                            {{ form4.email.label }}<br>
                            {{ form4.email() }}
                        </p>
                        <p>
                            {{ form4.birthday.label }}<br>
                            {{ form4.birthday(type="date") }}
                        </p>
                        <p>
                            {{ form4.sex.label }}<br>
                            {{ form4.sex() }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <p>{{ form4.submit(class_="btn btn-primary") }}</p>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="row m-3">
        <div class="row">
            <form action="{{ url_for('journal') }}">
                <input type="submit" class="btn btn-primary m-2" value="Ваш
                журнал"/>
            </form>
            <form action="{{ url_for('user_meals') }}">
                <input type="submit" class="btn btn-primary m-2" value="Ваши
                приемы пищи"/>
            </form>
            <form action="{{ url_for('statistics') }}">
                <input type="submit" class="btn btn-primary m-2" value="Ваша
                статистика"/>
            </form>
        </div>
    </div>
{% endblock %}